.index {
  
}

.nav-list {
  width: 240px;
  top: 60px;
  left: 0;
  bottom: 0;
  position: fixed;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.content {
  padding-left: 240px;
  padding-top: 80px;
  background: rgba(100, 100, 100, 0.1);
}

.id {
  position: relative;
  display: hidden;
  overflow: hidden;
  user-select: none;
  height: 0;
  top: -80px;
}