.nav-list {
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
  background: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.docs {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
}

.path {
  display: flex;
  align-items: stretch;  
  font-family: monospace;
  list-style: none;
}

.path .link {
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 9px 20px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
}

.path.module {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
}

.path.module .link {
  font-weight: bold;
  background: rgb(239, 239, 239);
  /* border-right: none; */
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.path .link:hover,
.path.module .link:hover {
  cursor: pointer;
  background: rgba(200, 200, 200, 1);
  border-right: none;
}

.query {
  position: relative;
}

.query .search-icon {
  position: absolute;
  right: 20px;
  top: 18px;
}

.query input {
  font-family: monospace;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  padding-right: 50px;
  border: none;
  outline: none;
}