.code {
  margin: 0;
  padding: 15px;
  overflow: scroll;
  display: inline-block;
  border-radius: 3px;
  font-size: 90%;
  line-height: 200%;
}

.inline {
  display: inline;
  padding: .2em .4em;
  white-space: normal;
  line-height: 2em;
  color: #000;
  background-color: #eee;
}